body {
	margin-left: auto;
	margin-right: auto;
}

html {
	text-align: center;
}

table {
	width: 80%;
	border-top: 1px solid #e0e0e0;
	border-collapse: collapse;
	margin: auto;
	float: center;
}

td, th {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
}

thead {
	font-size: 32px;
	font-weight: bold;
}

.header {
	background-color: #000000;
	color: #FFFFFF;
	height: 200px;
	text-align: left;
	font-size: 38px
}